@media only screen and (min-width:768px){


.TopNavigation{    
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 768px;
    padding-left: 10%;
}

.LogoPlaceholder{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.Logo{
color: var(--primary-b-400, #6070FF);
text-align: center;
font-family: Poppins;
font: size 18px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 111.111% */
}

.ItemNavigation{

display: flex;
align-items: center;
gap: 8px;
padding-left: 280%;
}

.Frame4{
display: flex;
padding: 10px 12px;
align-items: center;
gap: 10px;
}

.Portfolio{
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    
    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

.Frame3{
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
}

.About{
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    
    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

.Frame5{
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 10px;
}

.Contact{
    color: var(--neutrals-n-600, #344563);
    text-align: center;
    
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.333% ;
}


    .header {
        background-image: url(header\ bg.jpg);
        background-repeat: no-repeat;
height: 846px;
padding: 289px 260px;
justify-content: center;
align-items: center;
flex-shrink: 0;

    }
    

.Text{
    /*padding-bottom: 80%;*/
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
}

.PrimaryText{
    padding-top: -100px;
    position: relative;
    color: var(--theme-1-neutrals-1, #091E42);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
    letter-spacing: 0.37px;
    display: flex;
    width: 920px;
    height: 122px;
    flex-direction: column;
    justify-content: center;

}

.image2-mob{
    visibility: hidden;
}

.PrimaryText2{
    width: 920px;
    color: var(--theme-1-neutrals-3, #344563);

    /* Body / 1 */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.LetsConnect{
    color: var(--primary-b-300, #7F8CFF);

/* Body / 2 - Bolder */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height:150%;
}

.Icons{
width: 170.167px;
height: 20px;
flex-shrink: 0;
}


.list{
    position: relative;
    display: inline-flex;
    padding: 142px;
    flex-direction: column;
    align-items: center;
    gap: 142px;
}

.container1{
    padding-left: 5%;
    display: inline-flex;
    width: 1200px;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 24px;


}

.cont1{
    display: inline-flex;
    width: 1200px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #DFE1E6);
    background: var(--neutrals-n-0, #FFF);

}


.image1-mob{
    display: none;
}

.img1{
    padding-left: 2%;
width: 544px;
flex-shrink: 0;
border-radius: 8px;
padding-top: 2%;

}

.LeftBlock{
padding-top: -10%;
padding-left: 5%;
display: inline-flex;
flex-direction: column;
gap: 24px;

}

.P1{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.Tonic{
    padding-bottom: 2%;
    width: 496px;
    height: 46px;
    color: var(--theme-1-neutrals-1, #091E42);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;

}

.Tonic3{
    visibility: hidden;
}

.Frame2{
    padding-top: 2%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.c{
    display: flex;
    padding: 8px 0px;
    align-items: center;
}

.T{
    color: var(--theme-1-neutrals-3, #344563);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 133.333%;
}

.dot{
    width: 8px;
    height: 8px;
    fill: var(--neutrals-n-50, #C1C7D0);
}

.dev{
    color: var(--theme-1-neutrals-6, #6B778C);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.para{
    width: 496px;
    height: 50px;
    color: var(--neutrals-n-600, #344563);

    /* Body / 2 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.tags{
    display: flex;
align-items: center;
gap: 8px;

}

.tag{
display: flex;
padding: 0px 12px;
align-items: center;
border-radius: 8px;
background: var(--primary-b-50, #EBEBFF);
}

.t{
    color: var(--primary-b-400, #6070FF);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.36px;
}

.action{
    display: flex;
    width: 496px;
    height: 153px;
    padding: 16px 370px 89px 0px;
    align-items: center;
}

.b1{
display: flex;
padding: 12px;
align-items: center;
gap: 10px;
border-radius: 8px;
border: 1px solid var(--primary-b-400, #6070FF);
padding-top: 1px;
padding-bottom: 1px;
}

.see{
    color: var(--primary-b-500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}

.container2{
    padding-left: 11%;
    display: inline-flex;
    width: 1200px;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 24px;


}

.cont2{
    display: inline-flex;
    width: 1200px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #DFE1E6);
    background: var(--neutrals-n-0, #FFF);

}

.LeftBlock2{

display: inline-flex;
padding: 24px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.multipoststories{
    padding-top: 5%;
    width: 496px;
    height: 46px;
    color: var(--theme-1-neutrals-1, #091E42);
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
}

.para1{
    height: 70px;
    color: var(--neutrals-n-600, #344563);
    width: 496px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.img2{
    display: block;
    margin-top: -50%;
width: 544px;
height: 448px;
flex-shrink: 0;
border-radius: 8px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}



.container3{
    padding-left: 11%;
    display: flex;
    height: 496px;
    width: 1200px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.cont3{
    padding-left: 2%;
    padding-top: 4%;
    display: inline-flex;
    width: 1200px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #DFE1E6);
    background: var(--neutrals-n-0, #FFF);
}

.img3{
    width: 544px;
    height: 448px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    margin-left: -23%;
}

.Tonic2{
    width: 496px;
    height: 46px;
    color: var(--Theme-1-Neutrals-1, #091E42);

    /* Header / 2 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
}

.image3-mob{
    visibility: hidden;
}

.para3{
    width: 496px;
    height: 90px;
    color: var(--neutrals-n-600, #344563);
    /* Body / 2 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.Frame6{
    display: flex;
    align-items: center;
    gap: 12px;
}

.b2{

    background:rgb(247, 238, 238) ; /* Set initial background color to white */
    transition: background-color 0.3s ease; 

    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border-color: #4053FC;
    /* box-shadow: 0px 8px 16px 0px rgba(64, 83, 252, 0.24);
        background: var(--primary-b-500, #4053FC);
    */
}

.b2:hover {
    background: var(--primary-b-500, #4053FC); /* Change background to blue on hover */

}

.see2{
    color: #4053FC;
/*color: var(--neutral-n-0, #FFF);*/
text-align: center;

font-family: Poppins;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height:141.176%;
letter-spacing: 0.51px;
}

.see2:hover{
    color: #CFD8DC;
}

.container4{
    display: inline-flex;
    padding-left: 11%;

    display: flex;
    width: 1200px;
    height: 496px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;

}

.cont4{
    padding-top: 4%;
    padding-left: 2%;
    display: inline-flex;
    width: 1200px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--neutrals-n-40, #DFE1E6);
    background: var(--neutrals-n-0, #FFF);

}
.img4{

    width: 544px;
    height: 448px;
    flex-shrink: 0;
    border-radius: 8px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;

}


.AboutMyself{
background-image: url(about\ myself\ -\ background-\ shape-\ desktop.png);
display: inline-flex;
width: 1200px;
height: 100px;
padding-left: 15%;
padding-top: 30%;
flex-shrink: 0;
fill: var(--neutrals-n-0, #FFF);

}

.LeftBlock9{

display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;

}

.me{
    display: flex;
    width: 447px;
    height: 33px;
    flex-direction: column;
    justify-content: center;
    color: var(--theme-1-neutrals-1, #091E42);

    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130% ;
}

.P2{
    width: 447px;
    height: 102px;
    color: var(--neutrals-n-600, #344563);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.B2{

    display: flex;

    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--primary-b-400, #6070FF);
}

.b{
    
    color: var(--primary-b-500, #396DF2);
    text-align: center;
    
    /* Theme 1 / Button Normal  */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height:  141.176%;
    letter-spacing: 0.51px;
}

.rightblock{

padding-right: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.frame7{
    display: flex;
    padding: 16px 26px 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.l{
    width: 582px;
    color: var(--theme-1-neutrals-3, #344563);

    /* Body / 1 - Bolder */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px; /* 120% */
}

.B3{
display: flex;
padding: 8px;
align-items: flex-start;
border-radius: 8px;
}

.arr1{
    width: 24px;
    height: 24px;
}

.langlist{
    display: flex;
padding: 12px;
align-items: center;
gap: 12px;
}

.frame9{
    display: flex;
    width: 122px;
    padding: 12px 12px 20px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 8px;
    background: var(--neutrals-n-10, #F7F7F9);
}

.l1{
    border-radius: 48px;
    border: 1px solid var(--neutrals-n-0, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        
}

.n1{
    display: flex;
    width: 98px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    color: var(--neutrals-n-700, #253858);

    /* Body / 3 - Bolder */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 133.333% */
}

.frame8{
    padding-left: 4%;
    display: inline-flex;
    width: 684px;
    height: 72px;
}

.B4{
    display: inline-flex;
    padding-top: 1%;
    padding-bottom: 0%;
    width: 40px;
    height: 40px;
    align-items: flex-start;
    border-radius: 8px;
}

.form{
    background-image: url(contact\ form-\ background-shape-desktop.png);
    width: 1440px;
    height: 780px;
    flex-shrink: 0;
    fill: var(--primary-b-400, #6070FF);
    background-repeat: no-repeat;

    }

.pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    padding-top: 10%;
}
.pass1
{
        display: flex;
        width: 801px;
        height: 56px;
        flex-direction: column;
        justify-content: center;
        color: white;       
        text-align: center;
        
        /* Header / 2 */
        font-family: Poppins;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 52px; /* 130% */
    }
    
    .pass2{

    width: 569px;
    height: 102px;
    color: var(--primary-b-50, #EBEBFF);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140% ;

}

.co1{
    width: 447px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--base-100, #CFD8DC);
    background: var(--mono-white, #FFF);
}

.c1{
    padding-top: 3%;
    padding-left: 5%;
    display: flex;
    width: 393px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--neutral-n-800, #172B4D);
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 117.647% */
}

.co3{
    width: 447px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--base-100, #CFD8DC);
    background: var(--mono-white, #FFF);
}

.c3{
    padding-left: 3%;
    width: 393px;
    height: 140px;
    flex-shrink: 0;
    color: var(--neutrals-n-60, #B3BAC5);

    /* Input /Normal */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.B5{
    border-color: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: var(--neutrals-n-0, #FFF);
}

.b5{
    color: var(--primary-b-400, #6070FF);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}
}


@media only screen and (min-width:375px)  and (max-width:414px){
/*
Minimum mobile screen size should be 375px
Minimum desktop screen size should be 768px*/

.body{
    display: inline-flex;
padding: 114px 24px;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}

.TopNavigation{
    display: flex;
    width: 375px;
    height: 48px;
    padding: 4px 24px 4px 12px;
    align-items: flex-start;
    gap: 199px;
    flex-shrink: 0;
    background-image: none;
}
    
.LogoPlaceholder{
    display: flex;
    padding: 10px 12px;
    align-items: center;
}

.Logo{

    color: var(--Primary-B400, #6070FF);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
}

.tertiary{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    border-radius: 8px;
    padding-left: 140%;
}


.ItemNavigation{
visibility: hidden;
}

.header{
    display: inline-flex;
    padding: 114px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-image: url(header-shapes\ mobile.png);
    padding-bottom: 40%;
    background-repeat: no-repeat;
}

.PrimaryText{
    display: flex;
    width: 327px;
    height: 150px;
    flex-direction: column;
    justify-content: center;
    color: var(--Neutrals-N800, #172B4D);

/* Header / 2 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 130% */
}

.PrimaryText2{
    width: 327px;
    height: 146px;
    color: var(--Neutrals-N600, #344563);

    /* Body / 2 */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.LetsConnect{
    color: var(--Primary-B300, #7F8CFF);

    /* Body / 2 - Bolder */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.Icons{
    width: 170.167px;
    height: 20px;
}

.container1{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid var(--Neutrals-N40, #DFE1E6);
    background: var(--Neutrals-N0, #FFF);

}

.cont1{
    padding-top: 5%;

}
.img1{

    visibility: hidden;
}
    
.image1-mob{
    padding-left: 23%;
}

.LeftBlock{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 25%;
    margin-top: -90%;
}

.P1
{
    flex-direction: column;
    gap: 12px;
}

.P2{
    padding-left: 25%;
    flex-direction: column;
    gap: 12px;

}
.Tonic{
    width: 295px;
    height: 36px;
    color: var(--Neutrals-N800, #172B4D);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 137.5% */
}

.Frame2{
    display: flex;
    align-items: center;
    gap: 12px;

}

.c{
    color: var(--Neutrals-N600, #344563);

    /* Caption / 1 - Bolder */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 123.077% */
}

.para{
    width: 295px;
    height: 76px;
    color: var(--Neutrals-N600, #344563);

    /* Body / 3 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.tags{
    width: 295px;
    height: 76px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tag{
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--Primary-B50, #EBEBFF);
}

.t{
    color: var(--Primary-B400, #6070FF);

    /* Button / Small */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.36px;
}

.action{
    display: flex;
    padding: 12px 169px 12px 0px;
    align-items: center;
}

.b1{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Primary-B400, #6070FF);
}

.see{
    color: var(--Primary-B500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}

/*Card 2*/
.container2{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid var(--Neutrals-N40, #DFE1E6);
    background: var(--Neutrals-N0, #FFF);
}

.cont2{
    padding-top: 5%;
}

.img2{

    visibility: hidden;
}

.image2-mob{
    padding-left: 23%;
}


.multipoststories{
    margin-top: -110%;
    width: 295px;
    height: 36px;
    color: var(--Neutrals-N800, #172B4D);
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 137.5% */
}

.Frame2{
    display: flex;
    align-items: center;
    gap: 12px;

}

.c{
    color: var(--Neutrals-N600, #344563);

    /* Caption / 1 - Bolder */
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 123.077% */
}

.para1{
    width: 295px;
    height: 76px;
    color: var(--Neutrals-N600, #344563);

    /* Body / 3 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.img2{
visibility: hidden;
}

.tags{
    width: 295px;
    height: 76px;
    display: flex;
align-items: center;
gap: 8px;
}

.tag{
    display: flex;
    padding: 4px 12px;
    align-items: center;
    border-radius: 8px;
    background: var(--Primary-B50, #EBEBFF);
}

.t{
    color: var(--Primary-B400, #6070FF);

    /* Button / Small */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.36px;
}

.action{
    display: flex;
    padding: 12px 169px 12px 0px;
    align-items: center;
}

.b1{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Primary-B400, #6070FF);
}

.see{
    color: var(--Primary-B500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}

/*Card 3*/
.container3{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid var(--Neutrals-N40, #DFE1E6);
    background: var(--Neutrals-N0, #FFF);
}

.cont3{
    padding-top: 5%;
}

.img3{

    visibility: hidden;
}

.image3-mob{
    padding-left: 23%;
}


.Tonic2{
    visibility: hidden;
}

.Tonic3{
    width: 295px;
    height: 36px;
    color: var(--Neutrals-N800, #172B4D);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 137.5% */
}
.Frame6{
    display: flex;
    align-items: center;
    gap: 12px;

}

.c{
    color: var(--Neutrals-N600, #344563);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 123.077% */
}

.para3{

    width: 295px;
    height: 76px;
    color: var(--Neutrals-N600, #344563);

    /* Body / 3 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height:  160%;

}

.img3{
visibility: hidden;
}



.action{
    display: flex;
    padding: 12px 169px 12px 0px;
    align-items: center;
}

.b2{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Primary-B400, #6070FF);
}

.see2{
    color: var(--Primary-B500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}

.img3{
    visibility: hidden;
}


/*Card 4*/


.container4{
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 16px;
    border: 1px solid var(--Neutrals-N40, #DFE1E6);
    background: var(--Neutrals-N0, #FFF);
}

.container4{
    padding-top: 5%;
}

.img4{

    visibility: hidden;
}

.image4-mob{
    padding-left: 23%;
}




.Frame6{
    display: flex;
    align-items: center;
    gap: 12px;

}

.c{
    color: var(--Neutrals-N600, #344563);
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 123.077% */
}

.para3{

    width: 295px;
    height: 76px;
    color: var(--Neutrals-N600, #344563);

    /* Body / 3 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height:  160%;

}

.img4{
visibility: hidden;
}



.action{
    display: flex;
    padding: 12px 169px 12px 0px;
    align-items: center;
}

.b2{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--Primary-B400, #6070FF);
}

.see2{
    color: var(--Primary-B500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}.Tonic4{
    visibility: hidden;
}
.multipoststories2{
    width: 295px;
    height: 80px;
    color: var(--Neutrals-N800, #172B4D);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 137.5% */
}

.para3{
    margin-top: -10%;
}

.AboutMyself{
    margin-top: -50%;
    padding: 114px 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.img4{
    visibility: hidden;
}

.LeftBlock9{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.me{
    width: 327px;
    height: 35px;
    flex-direction: column;
    justify-content: center;
    color: var(--Neutrals-N800, #172B4D);

/* Header / 2 */
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 130% */
}

.P6{
    width: 327px;
    height: 147px;
    color: var(--Neutrals-N600, #344563);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.LetsConnect{
    margin-top: -10%;
}

.B2{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
border: 1px solid var(--Primary-B400, #6070FF);
}

.b{
    color: var(--Primary-B500, #396DF2);
    text-align: center;
    
    /* Button /Normal */
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
}

.l{
    width: 237px;
    color: #000;

/* Body / 1 - Bolder */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 120% */
}
.frame7{
    display: flex;
    padding: 16px 26px 16px 12px;
    align-items: center;
    gap: 12px;
}

.langlist{
    display: flex;
padding: 12px;
flex-direction: column;
align-items: center;
gap: 12px;
}

.frame9{
    display: flex;
    width: 303px;
    padding: 9px 12px 9.716px 12px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
background: var(--Neutrals-N10, #F7F7F9);
}

.l1{
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.n1{
    display: flex;
width: 215px;
height: 24px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: var(--Neutrals-N700, #253858);

/* Body / 3 - Bolder */
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 133.333% */
}

.frame8{
    display: flex;
    width: 327px;
    height: 72px;
}


.arr1{
    width: 24px;
    height: 24px;
}

.B4{
    display: inline-flex;
    align-items: flex-start;
    border-radius: 8px;
}

.form{
    width: 375px;
    height: 779px;
    flex-shrink: 0;
    background-color: #396DF2;
}

.pass{
margin-left: -55%;
}

.pass1{
    padding-top: 20%;
    display: flex;
    width: 801px;
    height: 56px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: var(--Neutrals-N0, #FFF);
    text-align: center;
    
    /* Header / 2 */
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 52px; /* 130% */
}

.pass2{
    padding-left: 40%;
    width: 327px;
    height: 137px;
    flex-shrink: 0;
    color: var(--Primary-B50, #EBEBFF);
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.co1{
    width: 327px;
    margin-left: 40%;
    margin-top: 5%;
height: 48px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--Base-100, #CFD8DC);
background: var(--Mono-White, #FFF);
}

.co3{
    margin-left: 40%;
    margin-top: 5%;
    width: 327px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid var(--Base-100, #CFD8DC);
    background: var(--Mono-White, #FFF);
}


}

